<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Arima+Madurai&family=Arvo&family=Caveat&family=Cinzel&family=Dancing+Script&family=Exo&family=Indie+Flower&family=Itim&family=Lato&family=Lobster&family=Maven+Pro&family=Merriweather&family=Montserrat:wght@400;700&family=Nunito&family=Open+Sans&family=Oswald&family=Pacifico&family=Raleway&family=Roboto&family=Sacramento&family=Slabo+27px&family=Teko&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>